-
  function encode (str) {
    return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
      return '%' + c.charCodeAt(0).toString(16);
    });
  }

  function range(start, end) {
    const arry = []
    for (let i = start; i <= end; i++) {
      arry.push(i)
    }
    return arry
  }

  function map(array, iteratee) {
    let index = -1
    const length = array == null ? 0 : array.length
    const result = new Array(length)
    while (++index < length) {
      result[index] = iteratee(array[index], index, array)
    }
    return result
  }

  function getSrcset(pathImg, injectDir = '/', ratinaSuffix = ['', '@2x']) {
    if (!pathImg) throw new Error('pathImg is not defined.')
    const { dir, base, name, ext } = parsePath(pathImg)
    return map(ratinaSuffix, (suffix) => {
      return `${ dir }${ injectDir }${ name }${ suffix }${ ext } ${ suffix.substring(1) }`.trim()
    })
  }
