mixin source({ srcset = [], media = `(max-width: ${ breakPointSp }px)`, size = '100vw'} = {})
  source(media=media size=size srcset=`${ srcset.join(', ') }`)

//-
//- 使い方 その1
//- ratina用の画像も用意する場合
//- e.g +picture('images/test.png', 'alt', { ratina: true })
//-
//- 使い方 その2
//- ratinaを3倍まで使う場合（ほぼ使うことはないかと思いますが。。。）
//- e.g +picture('images/test.png', 'alt', { ratina: true, arraySuffix: ['@2x', '@3x'] })
//-
//- 使い方 その3
//- spディレクトリも含めたい場合
//- e.g +picture('images/test.png', 'alt', { dirs: ['/sp/', '/pc/'] })
mixin picture(pathImg, alt = '', { ratina = true, arraySuffix = ['@2x', '@3x'], dirs = ['/', '/pc/'] } = {})
  -
    if (!pathImg) throw new Error('pathImg is not defined.')
    if (arraySuffix[0] !== '') arraySuffix.unshift('')
    if (!ratina) arraySuffix = [arraySuffix[0]]
    const { dir, base, name, ext } = parsePath(pathImg)
    const imgs = map(dirs, (injectDir) => `${ dir }${injectDir}${ base }`)
  picture&attributes(attributes)
    +source({ srcset:[imgs[0]] })
    +source({ srcset: getSrcset(pathImg, dirs[1], arraySuffix), media: `(min-width: ${ breakPointPc }px)`})
    img(src=imgs[1] alt!=alt)

//- SVG
mixin svg(id, title = '', url = '')
  svg&attributes(attributes)
    if title
      title!=title
    use(xlink:href=`${ url }#${ id }`)/

