unless title[1]
  - title[1] = title[0]
unless desc[1]
  - desc[1] = desc[0]
meta(property="og:title", content=title[1])
meta(property="og:description", content=desc[1])
meta(property="og:image", content=ogImg)
meta(property="og:site_name", content=siteName)
meta(property="og:url", content=ogUrl)
meta(property="og:type", content=ogType)
meta(property="fb:app_id", content="")
meta(property="fb:locale", content="ja_JP")
