include /includes/variables
include /includes/functions

block vars
  //-
    1.タイトル設定
      配列の1番目は通常のタイトルタグ、2番目はog用のタイトルタグです。
      2番目を削除すると、通常のタイトルタグと共有されます。
      通常タグと共有の例: - let title = ['タイトル'];
    2.ディスクリプション設定
      タイトル設定と同様の形になります。
      2番目の配列を記述するとogタグ用のディスクリプションが設定されます。
      通常タグ+ogタグ用: - let desc = ['ディスクリプション','ogディスクリプション'];

  //- サイト全体のmeta情報
  - let title    = ['タイトル', 'ogタグ用タイトル'];
  - let desc     = ['ディスクリプション', 'ogディスクリプション'];
  - let keyword  = 'キーワード,キーワード';
  - let siteName = 'サイト名';
  - let ogUrl    = `${siteUrl}`;
  - let ogImg    = `${siteUrl}assets/img/hoge.png`;

  //- body の id, class 設定
  - let bodyAttrs = {};

block html
  doctype html
  include /includes/mixin
  html(lang="ja")
    block head
      head
        block meta
          include /includes/meta
        block styles
          link(rel="stylesheet" href=`${pathCss}style.css`)
        //-block scripts
          script(src=`${pathJs}bundle.js`)
        //-block else
          link(rel="shortcut icon" href=`${pathImg}favicon.ico`)
          link(href=`${pathImg}favicon.ico` rel="shortcut icon", type="image/ico")
          include /includes/tags.html
    block body
      body&attributes(bodyAttrs)
        //- include /includes/svg-sprites
        block body-contents
        block modal